<p-card
  class="border border-green-600 border-solid-2 m-8"
  [style]="{'background-color': `${set().color}`}"
>
  <ng-template #title>
    <div class="flex justify-between">
      <span class="text-3xl">{{set().title}}</span>
      @if (!isStudy()) {
      <p-button
        label="Study"
        routerLink="study"
        [queryParams]="{id: set().id}"
      ></p-button>
      }
    </div>
  </ng-template>
  <ng-template #subtitle>
    <h4 class="text-1xl">Total: {{set().remain}}/{{set().cards.length}}</h4>
    <p-progressbar [value]="(set().remain/set().total)*100">
      <!-- <ng-template #content let-value></ng-template> -->
    </p-progressbar>
  </ng-template>
  <ng-template #footer>
    <div class="grid grid-cols-3 place-items-center">
      <span>New: <span>{{set().new}}</span> </span>
      <span>Learning: <span>{{set().learning}}</span> </span>
      <span>Review: <span>{{set().review}}</span> </span>
    </div>
    <!-- TODO SE PASARA EL ID DEL SET -->
    @if (isStudy()) {
    <p-button
      label="Study"
      [routerLink]="['learning-card']"
      [queryParams]="{idSet: set().id}"
      [style]="{width: '100%'}"
    ></p-button>
    }
  </ng-template>
</p-card>
