@if (!progressbarService.progressbarProcess()) {
  <router-outlet></router-outlet>
} @else {
  <div class="container-progressbar">
    <h1 class="text-1xl text-center text-(--p-primary-color) font-bold">
      {{ progressbarService.showMessage() }}
    </h1>
    <app-progressbar></app-progressbar>
  </div>
}
<!-- @defer (when !progressbarService.progressbarProcess()) {
  <router-outlet></router-outlet>
} @loading {
  <h1 class="text-3xl">loading</h1>
  <div class="container-progressbar">
    <app-progressbar></app-progressbar>
  </div>
} -->
<!-- @placeholder {
  <p>placholder</p>
} -->
