<div class="flex grid grid-rows-2 items-center justify-center h-screen">
  <h1 class="text-3xl">{{formInstance().getTitle()}}</h1>
  <form
    (ngSubmit)="formInstance().confirm()"
    [formGroup]="form"
    class="card grid grid-row-3 gap-5 border border-solid-2 outline-2 outline-offset-2 outline-solid p-10"
  >
    @if (formInstance().fields!.length) {
    <ng-container formArrayName="authFields">
      @for (field of formInstance().fields!.controls; track $index; let i =
      $index) {
      <ng-container [formGroupName]="i">
        @if (formInstance().getTitle().toLowerCase() ===
        'Registrarse'.toLowerCase()) {
        <p-floatlabel>
          <input pInputText formControlName="name" />
          <label for="over_label">Nombre</label>
          @if ( validations.isValidFieldInArray(formInstance().fields, i,
          'name') ) {
          <div class="text-red-300 font-bold text-xs">
            {{validations.getFieldArrayErrorMessage(formInstance().fields, i,
            'name')}}
          </div>
          } @else {
          <div class="mb-4"></div>
          }
        </p-floatlabel>
        }
        <p-floatlabel>
          <input pInputText formControlName="email" />
          <label for="over_label">Email</label>
          <!-- @if ( formInstance().fields.at(i)!.get("email")?.hasError("required")
          && formInstance().fields.at(i)!.get("email")?.touched ) { -->
          @if (validations.isValidFieldInArray(formInstance().fields, i,
          'email')) {
          <div class="text-red-300 font-bold text-xs">
            {{validations.getFieldArrayErrorMessage(formInstance().fields, i,
            'email')}}
          </div>
          } @else {
          <div class="mb-4"></div>
          }
        </p-floatlabel>

        <p-floatlabel>
          <p-password formControlName="password" [feedback]="false">
          </p-password>
          <label for="over_label">Password</label>
          @if ( validations.isValidFieldInArray(formInstance().fields, i,
          'password') ) {
          <div class="text-red-300 font-bold text-xs">
            {{validations.getFieldArrayErrorMessage(formInstance().fields, i,
            'password')}}
          </div>
          } @else {
          <div class="mb-4"></div>
          }
        </p-floatlabel>

        @if (formInstance().getTitle().toLowerCase() ===
        'Registrarse'.toLowerCase()) {
        <p-floatlabel>
          <p-password formControlName="passwordRepeated"> </p-password>
          <label for="over_label">Repetir password</label>
          @if ( validations.isValidFieldInArray(formInstance().fields, i,
          'passwordRepeated') || formInstance().fields.controls[0]!.errors) {
          <div class="text-red-300 font-bold text-xs">
            {{validations.getFieldArrayErrorMessage(formInstance().fields, i,
            'passwordRepeated')}}
          </div>
          } @else {
          <div class="mb-4"></div>
          }
        </p-floatlabel>
        {{formInstance().fields.at(i)!.get("passwordRepeated")?.errors |json}} }
      </ng-container>
      }

      <button pButton pRipple severity="success" icon="pi pi-user">
        <span pButtonLabel>Confirm</span>
      </button>
      <p>
        <a
          [routerLink]="[`/${formInstance().getRoutePath()!}`]"
          class="text-blue-300"
          >{{formInstance().getObteinCredentialsLiteral()}}
        </a>
      </p>
    </ng-container>
    }{{ form.controls["authFields"].errors | json }} {{
    form.controls["authFields"].get("email")?.errors | json }} {{form.status}}
    <pre>

{{
  {
   formStatus: form?.status,
   formErrors: form.errors ,
   formValue: form.value,
  formInstanceFieldsErrors: formInstance().fields.controls[0]!.errors,
  formValueAuthFieldsValue: form.value['authFields']!.value,
  formInstanceFieldsValid: formInstance().fields!.valid,
  formInstanceFieldsInvalid: formInstance().fields!.invalid
  } | json
}}
  </pre
    >
  </form>
</div>
