<div class="card">
  <p-menubar class="border-color">
    <ng-template #start>
      <h1 class="lg:text-3xl text-(--p-primary-color)">Flash Color Cards</h1>
    </ng-template>

    <ng-template #end>
      <div class="flex items-center gap-2">
        <input
          #inputSearch
          type="text"
          pInputText
          placeholder="Search"
          class="w-36 border-color"
        />
        <p-avatar
          image="https://primefaces.org/cdn/primeng/images/demo/avatar/amyelsner.png"
          shape="circle"
        />
        <p-menubar [model]="hambuguerMenu" class="border-color"></p-menubar>
      </div>
    </ng-template>
  </p-menubar>
</div>
